<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Hillcrest Animal Hospital" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
	<div class="container">
		<div class="row">
			<div class="nine columns">
					<h1><a href="/">Hillcrest Animal Hospital</a></h1>
					<h4 class="subheader">Emergency &amp; Out of Hours Service</h4>
			</div>
			<div class="three columns" id="contactnumber"><p class="needhelp">Need help? Call us on</p><h3>01257 262448</h3></div>
		</div>
	</div>
	</div>
	
	<%= yield %>
	
	<div id="footer">
		<p>&copy; Hillcrest Animal Hospital 2011 - All Rights Reserved</p>
	</div>
	
<body>
</html>